<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="https://bootswatch.com/4/litera/bootstrap.min.css">
	<link rel="stylesheet" href="styles.css">
</head>
<body>

	<main id="app" class="container">

		<nav class="navbar navbar-light bg-light  justify-content-betwee mb-5">
		  <a class="navbar-brand d-flex align-items-center" href="#">
		    <img src="img/lurker.svg" width="50" height="50" class="d-inline-block align-top" alt="">
		    2hLurker
		  </a>

			<form @submit.prevent="addKeyword" class="form-inline">
		    <input v-model="keyword" type="text" class="form-control mr-sm-2" type="search" placeholder="Ключевое слово для поиска" aria-label="Search">
		    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Добавить</button>
		  </form>

		</nav>

		<section class="mt-3">
			<!-- <span v-for="term in terms"
			class="badge badge-pill badge-info p-1 mr-2">{{term}}</span> -->
			<ul class="nav nav-tabs">
			  <li
					@click="setActiveKeyword(keyword)"
					v-for="keyword in keywords"
					class="nav-item">
			    <a
						:class="{active:activeKeyword == keyword}"
						class="nav-link" href="#">{{keyword}}
					</a>
			  </li>
			</ul>

			<div class="container-fluid content-row border-right border-bottom border-left pt-3">
					<p v-if="keywords.length == 0">Добавьте тэги для поиска вакансий</p>
					<div v-else class="row">
						<div class="col-12 mb-3" v-if="activeKeyword && !loading">
							<span @click="clearHiddenResults()" v-if="Object.entries(hiddenResults).length !== 0 && hiddenResults.constructor === Object" class="float-sm-left badge badge-pill badge-secondary cursorPointer mb-2">Очистить скрытые вакансии</span>
							<span @click="removeKeyword(activeKeyword)" v-if="activeKeyword" class="badge badge-pill badge-warning float-md-right cursorPointer ml-md-2 mb-2">Удалить тег</span>
							<span @click="clearAll()" v-if="keywords.length > 1 " class="badge badge-pill badge-danger float-md-right cursorPointer ml-md-2 mb-2">Удалить все теги</span>
						</div>
						<div v-if="loading" class="col-12">
							<div class="spinner-grow" role="status">
							  <span class="sr-only">Загрузка...</span>
							</div>
						</div>
			        <div v-for="result in activeResults" class="col-sm-12 col-md-4 mb-4" v-if="!loading && !hiddenResults[result.link]">
			            <div class="card h-100">
										<span
											@click="hideResult(result)"
										  class="text-right pr-3 cursorPointer align-self-end" data-toggle="tooltip" data-placement="top" title="Скрыть вакансию">➖</span>
										<img src="img/open-sign.svg" class="card-img-top mx-auto" alt="Открыта вакансия" style="max-width:100px;">
										<div class="card-body">

											<h6 class="card-title"><a :href="result.link">{{result.title}}</a></h6>
											<p v-if="result.salary" class="card-text">{{result.salary}}</p>
											<p v-else class="card-text">з\п не указана</p>
											<p>{{result.date}}</p>
											<a :href="result.employer.link">{{result.employer.name}}</a>
											<br>
											<small><em class="text-secondary">{{result.address}}</em></small>
										</div>
			            </div>
			        </div>

			    </div>
			</div>
		</section>

	</main>

	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="client.js" charset="UTF-8"></script>
</body>
</html>
<!-- <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
<div>Icons made by <a href="https://www.flaticon.com/authors/flat-icons" title="Flat Icons">Flat Icons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
